body{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.header{
    grid-area: 1 / 2 / 2 / 3 ;
    background-color: blue;
}

.sidebar{
    grid-area: 1 / 1 / 3 / 2;
    background-color: rgb(48, 157, 247);
    display: grid;
    gap: 10px;
    grid-template-rows: 1fr 3fr 3fr;
    padding: min(15px, 15%);
    color: white;
    font-size: min(40px, 50px);
    align-items: center;
}

.title{
    font-weight: bolder;
}

.setting{
    align-self: self-end;
}



.content{
    grid-area: 2 / 2 / 3 / 3;
    background-color: green;
}